{% extends "layout.html" %}


{% block content %}

<!--////////////////////////////////////Header-->
<header>
    <div class="wrap-header zerogrid">
        <div class="row">
            <div id="menu">
                <nav>
                    <div class="wrap-nav">
                        <ul>
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li class="active"><a href="{{url_for('trending')}}">Trending</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id="container">
    <div class="wrap-container zerogrid">
        <div id="main-content" class="">
            <div class="">
                <div class="movie">
                    <div class="row type">
                        <div class="title">
                            <center><h2>CURRENTLY TRENDING MOVIES</h2></center>
                        </div>
                    </div>

                    <div class="row">
                        {% for movie in list[0:5] %}
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <div class="post" style="text-align:left;">
                                    <div class="view effect">
                                        <img class="thumb" src="{{movie.imageUrl}}" />
                                        <div class="mask">
                                            <a href="{{url_for('recommendationByMovie', id=movie.id)}}" class="info" title="Full Image">
                                                <img src="images/play_button_64.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <a href="{{url_for('recommendationByMovie', id=movie.id)}}"><h3>{{movie.title}}</h3></a>
                                    <span><font color="green">Description:</font> {{movie.overview}}</span><br />
                                    <span><font color="green">Tags:</font> {{movie.tag}}</span><br />
                                    <span><font color="green">Genres:</font> {{movie.genres}}</span><br />
                                    <span><font color="green">Vote score:</font> {{movie.score}}</span><br />
                                    <span><font color="green">Vote count:</font> {{movie.vote_count}}</span><br />
                                    <span><font color="green">Vote average:</font> {{movie.vote_average}}</span><br />
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        {% for movie in list[5:10] %}
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <div class="post" style="text-align:left;">
                                    <div class="view effect">
                                        <img class="thumb" src="{{movie.imageUrl}}" />
                                        <div class="mask">
                                            <a href="{{url_for('recommendationByMovie', id=movie.id)}}" class="info" title="Full Image">
                                                <img src="images/play_button_64.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <a href="{{url_for('recommendationByMovie', id=movie.id)}}"><h3>{{movie.title}}</h3></a>
                                    <span><font color="green">Description:</font> {{movie.overview}}</span><br />
                                    <span><font color="green">Tags:</font> {{movie.tag}}</span><br />
                                    <span><font color="green">Genres:</font> {{movie.genres}}</span><br />
                                    <span><font color="green">Vote score:</font> {{movie.score}}</span><br />
                                    <span><font color="green">Vote count:</font> {{movie.vote_count}}</span><br />
                                    <span><font color="green">Vote average:</font> {{movie.vote_average}}</span><br />
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}